<header class="header">
  <div class="homeLogo"> 
    <h1>宿泊予約サイト</h1>
  </div>
  <div class="nav">
    <% if user_signed_in? %>
      <h2>ようこそ、<%= current_user.name %>さん。</h2>
      <h4>メールアドレス： <%= current_user.email %></h4>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to  "ユーザ登録情報編集", edit_user_registration_path, class: "navbar-item" %>
    <% else %>
      <h2>ようこそ、ゲストさん。</h2>
      <div class="buttons">
        <button class="buttonLogin"> <%= link_to "ログイン", new_user_session_path, class: 'post' %> </button>
        <button class="buttonSignup"> <%= link_to "新規登録", new_user_registration_path, class: 'post' %> </button>
      <div>
    <% end %>
    <% if user_signed_in? %>
      <nav class="navbar has-shadow" style="z-index: 3;">
        <div class="container">
          <div class="navbar">
            <%= link_to 'ダッシュボード', dashboard_path, class: "navbar-item" %>
          </div>
        </div>
      </nav>  
    <% end %>
  </div>
</header>
